
<%= div_for comment do %>
    
    <article class="postContent">
    	
	    
	    <% if FileTest.exists?("public/img/#{comment.user_id}.jpg") %>
	    	<div class="comment-muneco" style="background: url(/img/<%= comment.user_id%>.jpg) no-repeat center; background-size: 150%;"></div>
	    <% else %>
	    	<div class="comment-muneco" style="background: url(/img/default.jpg) no-repeat center; background-size: 150%;"></div>
	    <% end -%>
	    
	    <span class="mainComentContent">
	    	<% if  current_user[:id] == comment.user_id %>
		    <span class="iconBorrarComentario">
		        <%= link_to 'Borrar', {:controller => 'comment', :action => 'delete', :id => comment.id},
		        		 :confirm => "¿Borrar el comentario?", :class => "borrarComentario", :method => :delete, :remote => true %>
		    </span>
	   		 <% end %>
	   		 
	   		 
	   		 
	   		 
	    	<div id="text">
	    		<%= text_parse(comment.body).html_safe %>
    		</div>
    	</span>
	</article>
    
  	<footer class="postComments">
	    <%if current_user%>
	    	<%= render :partial => 'vote/vote_comment', :locals => {:comment_id => comment.id} %>
	    <% end %>
	   
	    <% @user_ = User.find(comment.user_id)%>
	   	<%= link_to "@#{@user_.name}" , {:controller => 'post', :action => 'list', :pagina => "user", :id => comment.user_id}, :class => "linkRemote" %></u></b>, <%= distance_of_time_in_words(Time.now, Time.at(comment.created_at), false,  :highest_measure_only => true, :locale => "es")%> ago
	</footer>
    
    
<% end %>

