<%= div_for comment do %>
	<% @user_ = comment.user%>
    <article class="postContent">    	
    	<div class="comment-muneco" >
    		<div class="arrow-left-comment"></div>	    		
    		<%= link_to image_tag( @user_.photo.url(:small)  , :alt => "Imagen de #{@user_.name}"), "/post/user/#{@user_.name}", :class => "linkRemote comment-muneco-photo" %>
    	</div>
	    <span class="mainComentContent">
	    	<span class="iconos">
		    	<% if  current_user[:id] == comment.user_id %>
		    		<span class="ocultarIconosCm">
					    <%= link_to 'Borrar', {:controller => 'comment', :action => 'delete', :id => comment.id}, :class => "borrarComentario", :method => :delete, :remote => true %>
					</span>
				<% end %>
		   		<%if current_user%>
		    		<%= render :partial => 'vote/vote_comment', :locals => {:comment_id => comment.id, :likes => comment.likes} %>
	   			<% end %>
	   		</span>
	   		<div class="text">	    		
	   			<%= link_to @user_.profile , {:controller => 'post', :action => 'list', :pagina => "user", :id => @user_.name}, :class => "linkRemote user", :title =>  "@#{@user_.name}" %>
				<br/>
	   			<span class="timeCount">
					<%= hace_tanto_tiempo(Time.at(comment.created_at),Time.now).html_safe %>				
				</span>
				<br/>
	    		<%= text_parse(comment.body).html_safe %>	    		
    		</div>
    	</span> 
	</article>
	<input type="hidden" id="cmcreate_at_<%=comment.id%>" class="cmcreate_at" value="<%=comment.created_at%>" />
<% end %>
