
<%= div_for comment do %>
	<% @user_ = User.find(comment.user_id)%>
    <article class="postContent">    	
	    	<div class="comment-muneco" >
	    		<div class="arrow-left-comment"></div>
	    		<div class="arrow-left-comment-border"></div>
	    		<%= link_to image_tag( @user_.photo.url(:small)  , :alt => "Imagen de #{@user_.name}",  :onError=> "this.src='/img/default.jpg';"), "/post/user/#{@user_.name}", :class => "linkRemote comment-muneco-photo" %>
	    	</div>
	    
	    <span class="mainComentContent">
	    	<% if  current_user[:id] == comment.user_id %>
			    <span class="iconBorrarComentario">
			        <%= link_to 'Borrar', {:controller => 'comment', :action => 'delete', :id => comment.id},
			        		 :data => { :confirm => "¿Borrar el comentario?"}, :class => "borrarComentario", :method => :delete, :remote => true %>
			    </span>
	   		<% end %>
	   		 
	   		 
	    	<div id="text">
	    		
	   			<%= link_to "@#{@user_.name}" , {:controller => 'post', :action => 'list', :pagina => "user", :id => @user_.name}, :class => "linkRemote user" %>, 
	   			<%= distance_of_time_in_words(Time.now, Time.at(comment.created_at), false,  :highest_measure_only => true, :locale => "es")%> ago:
	   			<br/>
	    		<%= text_parse(comment.body).html_safe %>	    		
    		</div>
    		 <footer class="postCommentsVote">
	    		<%if current_user%>
	    			<%= render :partial => 'vote/vote_comment', :locals => {:comment_id => comment.id} %>
   				<% end %>  
			</footer>    
    	</span>
 
	</article>
    
 
    
<% end %>
