<div class="comment-form">
	<%=form_tag({ :controller => 'comment' , :action => 'new'}, :id => "formComment", :remote => true) do%>
		
		    <div class="comment-muneco" style="background: url('<%= current_user.photo.url(:medium)%>') no-repeat center; background-size: 100%;">
		    	<div class="arrow-left-comment"></div>
		    </div>
		    
			<%= text_area_tag  'body', nil, :class=> 'formComentContent', :placeholder => 'Comenta...' %>
		    <%= hidden_field_tag  'post_id', nil, :value => post.id %>
			<%= submit_tag "Comentar", :class => "comentar"%>
		
	<% end %>
</div>
