<div class="comment-form">
	<%=form_tag({ :controller => 'comment' , :action => 'new'}, :id => "formComment", :remote => true) do%>
		
		    <div class="comment-muneco">
		    	<div class="arrow-left-comment"></div>
		    	<div class="arrow-left-comment-border"></div>
	    		<%= link_to image_tag( current_user.photo.url(:small)  , :alt => "Imagen de #{@user.name}", :onError=> "this.src='/img/default.jpg';"), "/post/user/#{@user.name}", :class => "linkRemote comment-muneco-photo" %>
		    </div>
		    
			<%= text_area_tag  'body', nil, :class=> 'formComentContent', :placeholder => 'Comenta...' %>
		    <%= hidden_field_tag  'post_id', nil, :value => post.id %>
			<%= submit_tag "Comentar", :class => "comentar"%>
		
	<% end %>
</div>
