<% if @notifications%>

	<%@notifications.each do |n|%>
		<% @user = User.find(n.from) -%>
		<%if n.from != current_user[:id]%>
								<%= image_tag(@user.photo.url(:small), :class => 'popbox-photo') %><div class="popbox-user"></div></a>
						    	<%if n.note_type == 1%>
									
									<%= link_to "#{User.find(n.from).profile}", "/post/user/#{n.from}", :class => "linkRemote"%>
									te ha mencionado en una <%= link_to "publicacion", "/post/list/#{n.resource_id}", :class => "linkRemote"%>
									
								<%end%>
								
								<%if n.note_type == 3%>
									
									<%= link_to "#{User.find(n.from).profile}", "/post/user/#{n.from}", :class => "linkRemote"%>
									ha  <%= link_to "publicado", "/post/list/#{n.resource_id}", :class => "linkRemote"%> en
									<%Post.find(n.resource_id).tags.each do |t|%>
										<%= link_to "##{t.name} ", "/post/tag/#{t.name}", :class => "linkRemote"%>
									<%end%>
									
								<%end%>
								
								<%if n.note_type == 5%>
									
									<%from = User.find(n.from)%>
									<%= link_to "#{from.profile}", "/post/user/#{n.from}", :class => "linkRemote"%>
									ha comentado
									
									
									<%post = Post.find(n.resource_id)%> 
									<%if post.user_id == current_user[:id]%>
										una <%= link_to "publicacion", "/post/list/#{n.resource_id}", :class => "linkRemote"%>
										tuya	
									<%elsif post.user_id == n.from%>
									    una <%= link_to "publicacion", "/post/list/#{n.resource_id}", :class => "linkRemote"%>
									 	suya
									<%else%>
										la <%= link_to "publicacion", "/post/list/#{n.resource_id}", :class => "linkRemote"%> de 
						                <%= link_to "#{User.find(post.user_id).profile}", "/post/user/#{post.user_id}", :class => "linkRemote"%>
									<%end%>
									
								<%end%>
			<%end%>
		<%end%>
<%end%>