<div class="notification-list">
	<h5><%= t 'notificaciones.notificaciones' %></h5>
</div>
<% if @notifications%>
	<%@notifications.each do |n|%>
	<% @user = User.find(n.from) -%>
		<%if n.from != current_user[:id]%>
			<div class="notification-list">
				<article class="postContent">
			
					<div class="noti-muneco">
						<div class="arrow-left1"></div>
						<div class="arrow-left1-border"></div>
						<%= link_to image_tag( @user.photo.url(:small)  , :alt => "Imagen de #{@user.name}", :class => "linkRemote noti-muneco-photo"), "/post/user/#{@user.name}" %>
					</div>
			
					<span class="mainNotiContent">
						<div id="text">
							<%if n.note_type == 1%>
								<%= link_to "#{User.find(n.from).profile}", "/post/user/#{n.from}"%>
								<%= t'notificaciones.te_ha' %>  <%= link_to t('notificaciones.publicacion'), "/post/list/#{n.post_id}"%>
							<%end%>
			
							<%if n.note_type == 3%>
								<%= link_to "#{User.find(n.from).profile}", "/post/user/#{n.from}"%>
								<%= t'notificaciones.ha' %> <%= link_to t('notificaciones.publicado'), "/post/list/#{n.post_id}"%> <%= t'notificaciones.en' %>
				
								<%Post.find(n.post_id).tags.each do |t|%>
									<%= link_to "##{t.name} ", "/post/tag/#{t.name}"%>
								<%end%>
							<%end%>
			
							<%if n.note_type == 5%>
								<% from = User.find(n.from)%>
								<%= link_to "#{from.profile}", "/post/user/#{n.from}"%>
								<%= t'notificaciones.ha' %>	<%= t'notificaciones.comentado' %>
				
								<% post = Post.find(n.post_id)%>
								<%if post.user_id == current_user[:id]%>
									<%= t'notificaciones.una' %> <%= link_to "publicacion", "/post/list/#{n.post_id}"%>
									<%= t'notificaciones.tuya' %>
								<%elsif post.user_id == n.from%>
									<%= t'notificaciones.una' %> <%= link_to "publicacion", "/post/list/#{n.post_id}"%>
									<%= t'notificaciones.suya' %>
								<%else%>
									<%= t'notificaciones.la' %> <%= link_to "publicacion", "/post/list/#{n.post_id}"%> <%= t'notificaciones.de' %>
									<%= link_to "#{User.find(post.user_id).profile}", "/post/user/#{post.user_id}"%>
								<%end%>
							<%end%>
							<span class="timeCount">
								<%= hace_tanto_tiempo(Time.at(n.updated_at), Time.now).html_safe %>						
							</span>
						</div>
				</article>
			</div>
		<%end%>
	<%end%>
<%end%>