<div class="notification-list">
	<h5>Notificaciones:</h5>
</div>
<% if @notifications%>
	<%@notifications.each do |n|%>
	<% @user = User.find(n.from) -%>
		<%if n.from != current_user[:id]%>
			<div class="notification-list">
				<article class="postContent">
			
					<div class="noti-muneco">
						<div class="arrow-left1"></div>
						<div class="arrow-left1-border"></div>
						<%= link_to image_tag( @user.photo.url(:small)  , :alt => "Imagen de #{@user.name}", :class => "linkRemote noti-muneco-photo", :onError=> "this.src='/img/default.jpg';"), "/post/user/#{@user.name}" %>
					</div>
			
					<span class="mainNotiContent">
						<div id="text">
							<%if n.note_type == 1%>
								<%= link_to "#{User.find(n.from).profile}", "/post/user/#{n.from}"%>
								te ha mencionado en una <%= link_to "publicacion", "/post/list/#{n.resource_id}"%>
							<%end%>
			
							<%if n.note_type == 3%>
								<%= link_to "#{User.find(n.from).profile}", "/post/user/#{n.from}"%>
								ha  <%= link_to "publicado", "/post/list/#{n.resource_id}"%> en
				
								<%Post.find(n.resource_id).tags.each do |t|%>
									<%= link_to "##{t.name} ", "/post/tag/#{t.name}"%>
								<%end%>
							<%end%>
			
							<%if n.note_type == 5%>
								<% from = User.find(n.from)%>
								<%= link_to "#{from.profile}", "/post/user/#{n.from}"%>
								ha comentado
				
								<% post = Post.find(n.resource_id)%>
								<%if post.user_id == current_user[:id]%>
									una <%= link_to "publicacion", "/post/list/#{n.resource_id}"%>
									tuya
								<%elsif post.user_id == n.from%>
									una <%= link_to "publicacion", "/post/list/#{n.resource_id}"%>
									suya
								<%else%>
									la <%= link_to "publicacion", "/post/list/#{n.resource_id}"%> de
									<%= link_to "#{User.find(post.user_id).profile}", "/post/user/#{post.user_id}"%>
								<%end%>
							<%end%>
							<span class="timeCount">
								<%= t :hace %><%= hace_tanto_tiempo(Time.at(n.updated_at), Time.now).html_safe %>:								
							</span>
						</div>
				</article>
			</div>
		<%end%>
	<%end%>
<%end%>