<div id="login">
<%= image_tag( "/gfx/logo.png", :alt => "Logo", :class => 'logo') %>
<br />
<%= form_for @user_session, :as => :user_session, :url => { :action => "login" } do |f| %>
    <%= render "shared/error_messages", :target => @user_session %>
  <%= f.text_field :email, :placeholder => 'Email' %><br />
  <br />
  <%= f.password_field :password, :placeholder => 'Password' %><br />
  <br />
  <%= f.check_box :remember_me %><%= f.label :remember_me%> 
  <%= f.submit "Login" %>	
  <%= link_to 'Regístrate', :controller => 'users', :action => 'new' %>
<% end %>
</div>
