<% @page_name = 'Lista de Grupos' -%>
<div class="busqueda">
	<h5>Resualtado de la busqueda "<%= @q1 %>"</h5>
</div>

	<% if @tags %>
		<div class="busqueda">
			<div class="search-titulo">
				<%= @tags.count %> Tags:
			</div>	
		  	<div class="search-results">
		 		 <%= render :partial => "search/tags" %>
		  	</div>
		</div>
	<% end %>
	
	<% if @users %>
		<div class="busqueda">
			<div class="search-titulo">
				<%= @users.count %> Users:
			</div>
			<div class="search-results">
				<%= render :partial => "search/users" %>
			</div>
		</div>
	<% end %>
	
	<% if @posts %>
		<div class="busqueda">
			<div class="search-titulo">
				<%= @posts.count %> Posts:
			</div>
			<div id= "posts-names">
			   	<%= render :partial => "post/posts", :collection => @posts, :as => "post" %>
			</div>
		</div>		
	<% end %>

