<% @page_name = 'Lista de Grupos' -%>
<div id="busqueda">
	<h2>Resualtado de la busqueda "<%= @q1 %>"</h2>


	<% if @tags %>
		<div class="search-titulo">
			<%= @tags.count %> Tags:
		</div>	
	  	<div class="search-results">
	 		 <%= render :partial => "search/tags" %>
	  	</div>
		<br/>
	<% end %>
	
	<% if @users %>
		<div class="search-titulo">
			<%= @users.count %> Users:
		</div>
		<div class="search-results">
			<%= render :partial => "search/users" %>
		</div>
		<br/>
	<% end %>
	
	<% if @posts %>
		<div class="search-titulo">
			<%= @posts.count %> Posts:
		</div>
		<div class="search-results1">
			<%= render :partial => "search/posts" %>
		</div>
	<% end %>
</div>
