<nav>
	
	<header class="board-white">
		<a href="/post/user" class=" linkRemote"><%= current_user.profile%> <span class="user">@<%= current_user.name%></span></a>
	</header>

	<article id="marcofoto">
		<%= link_to image_tag(current_user.photo.url(:medium) , :alt => "Tu imagen", :onError=> "this.src='/img/default.jpg';"), '/post/user', :class => "linkRemote" %>
	</article>
	
	<div id="board-notifi">
		<%= subscribe_to "/u/#{current_user[:id]}" %>
		<script language="JavaScript">
			PrivatePub.subscribe("/u/<%=current_user[:id] %>", function(data, channel) {
				var elemento = "#notif" + data.type;
				if(data.type == 5){
					var simb = "C";
				}else if(data.type == 3){
					var simb = "#";
				}else if(data.type == 1){
					var simb = "@";
				}
				var i = 0;
				if(data.unread == 1)
					i = 1;
				else
					i = -1;
				if(($(elemento).html()).indexOf("(") == -1){
					$(elemento).html("(1)" + simb);
				}else{
					var str = $(elemento).html();
					var num = parseInt(str.substring(1,(str.indexOf(")") - 1))) + i;
					$(elemento).html("(" + num + ")" + simb);
				}
				if(($("#notifTodas").html()).indexOf("(") == -1){
					$("#notifTodas").html("(1)Todas");
				}else{
					var str = $("#notifTodas").html();
					var num = parseInt(str.substring(1,(str.indexOf(")") - 1))) + i;
					$("#notifTodas").html("(" + num + ")Todas");
				}
			});
		</script>
		
		<%users = Notifications.where(:user_id => current_user[:id], :note_type => 1)%>
		<div class='popbox popbox-mentions'>
  			<a class="open open-mentions" href="#" id="notif1">@</a>
 			 <div class='collapse collapse-mentions'>
    		 	<div class='box box-mentions'>
					<div class='arrow arrow-mentions'></div>
      				<div class='arrow-border arrow-border-mentions'></div>
					<div class="popbox-title">
	    				Menciones
	    			</div>	
      				<div class='popbox-scroll'>      
							<%if users.count != 0%>
							        <% Notifications.where(:user_id => current_user[:id], :note_type => 1).desc(:id).uniq_by {|x| x.from}.each do |mention_board| -%>	        
							            <div class="board-munecos" style="background: url('<%= User.find(mention_board.from).photo.url(:medium) %>') no-repeat center; background-size: 100%;">
											<%= link_to "@#{User.find(mention_board.from).name}", "/post/mentions/#{mention_board.from}", :class => "linkRemote"%>	            
								    	</div>
								    <% end %>
									    			
					        <%else%>
					        	<br/>
					        	No haz tenido<br/> conversaciones 
					        <%end%>			            
	    			</div>
	    			<div class="popbox-footer">
	    				<a href="#" class="popbox-a">Antiguas</a>
	    			</div>
    		    </div>
  			</div>
		</div>
		
		<% tags = Notifications.where(:user_id => current_user[:id], :note_type => 3, :unread => 1)%>
		<div class='popbox popbox-groups'>
  			<a class='open open-groups' href='#' id="notif3">#</a>
 			 <div class='collapse collapse-groups'>
    		 	<div class='box box-groups'>
					<div class='arrow arrow-groups'></div>
      				<div class='arrow-border arrow-border-groups'></div>
      				<div class="popbox-title">
	    				Post de Grupos
	    			</div>
      				<div class='popbox-scroll'>
						<%if tags.count != 0%>			        		
			        		<% tags.each do |c| %>
							<div class="popbox-cajita">
								<% u=User.find(c.from)%>
								<a href="/post/user/<%=u.name %>"><%= image_tag(u.photo.url(:small), :class => 'popbox-photo') %><div class="popbox-user"><%= u.profile%></div></a>
		    				</div>
		    			<%end%>
				        <%else%>
				        	<br/>
				        	No hay notificaciones<br/> de este tipo
				        <%end%>
	    			</div>
	     			<div class="popbox-footer">
	    				<a href="#" class="popbox-a">Antiguas</a>
	    			</div>
    		    </div>
  			</div>
		</div> 
		
		<% comm = Notifications.where(:user_id => current_user[:id], :note_type => 5, :unread => 1)%>		
		<div class='popbox popbox-comments'>
  			<a class='open  open-comments' href='#' id="notif5">C</a>
 			 <div class='collapse collapse-comments'>
    		 	<div class='box box-comments'>
					<div class='arrow arrow-comments'></div>
      				<div class='arrow-border arrow-border-comments'></div>
      				<div class="popbox-title">
	    				Comentarios
	    			</div>
      				<div class='popbox-scroll'>      					      					
						<%if comm.count != 0%>			        		
			        		<% comm.each do |c| %>
							<div class="popbox-cajita">
								<% u=User.find(c.from)%>
								<a href="/post/user/<%=u.name %>"><%= image_tag(u.photo.url(:small), :class => 'popbox-photo') %><div class="popbox-user"><%= u.profile%></div></a>
		    				</div>
		    			<%end%>
				        <%else%>
				        	<br/>
				        	No hay notificaciones<br/> de este tipo
				        <%end%>
	    			</div>
		  			<div class="popbox-footer">
	    				<a href="#" class="popbox-a">Antiguas</a>
	    			</div>
    		    </div>
  			</div>
		</div> 
		<br />
	</div>

	<div id="tabs-board">
		<ul>
			<% if current_user.tags.count != 0 %>
			<li>
				<a href="#tusgrupos">Tus grupos</a>
			</li>
			<% end %>
			<li>
				<a href="#tendencias">Tendencias</a>
			</li>

			<% if current_user.tags.count != 0 %>
			<div id="tusgrupos" class="tags-cloud-groups nube-tags" style="width:200px; height:120px;position:relative; overflow: hidden;">
				<% current_user.tags[0..9].each do |tag_board| -%>
				<ul>
					<li>
						<%= link_to "##{tag_board.name}", "/post/tag/#{tag_board.name}", :class => "linkRemote tags-a", :rel => tag_board.posts.count, :title => tag_board.name %>
					</li>
				</ul>
				<% end %>
			</div>
			<% end %>

			<div id="tendencias" <% if current_user.tags.count != 0 %>class="tags-cloud-populars nube-tags"<% else %>class="tags-cloud-groups nube-tags"<% end %> style="width:200px; height:120px;position:relative; overflow: hidden;">
				<% Tag.find_most_popular(10).each do |tag_board| -%>
				<ul>
					<li>
						<%= link_to "##{tag_board.name}", "/post/tag/#{tag_board.name}", :class => "linkRemote", :rel => tag_board.count, :title => tag_board.name %>
					</li>
				</ul>
				<% end %>
			</div>
		</ul>
	</div>
</nav>