    <header class="board-white">
	    <a href="/post/user" class=" linkRemote"><%= current_user.profile%> <span class="user">@<%= current_user.name%></span></a>
    </header>
    
    <article id="marcofoto">
        <% if FileTest.exists?("public/img/#{current_user.id}.jpg") %>
        <%= link_to image_tag( "/img/#{current_user.id}.jpg", :size => "200", :alt => "Tu imagen",
        :class => "board-foto"), '/post/user', :class => "linkRemote"%>
        <% else %>
        <%= link_to image_tag( "/img/default.jpg", :size => "200", :alt => "Tu imagen",
        :class => "board-foto"), '/post/user', :class => "linkRemote"%>
        <% end -%>
    </article>

    <nav>
		
	    	<ul id="board-notifi">
	 		        <li><%comm = Notifications.where(:user_id => current_user[:id], :note_type => 5, :unread => 1)%>
		        	<%if comm.count != 0%>
		        		<%= link_to "(#{comm.count})C", "/post/notifications/5"%>
		        	<%else%>
		        		<%= link_to "C", "/post/notifications/5"%>
		        	<%end%>
		        </li>
		        <li><%tags = Notifications.where(:user_id => current_user[:id], :note_type => 3, :unread => 1)%>
		        	<%if tags.count != 0%>
		        		<%= link_to "(#{tags.count})#", "/post/notifications/3"%>
		        	<%else%>
		        		<%= link_to "#", "/post/notifications/3"%>
		        	<%end%>
		        
		        </li>
		        
		        <li><%users = Notifications.where(:user_id => current_user[:id], :note_type => 1, :unread => 1)%>
		        	<%if users.count != 0%>
		        	<%= link_to "(#{users.count})@", "/post/notifications/1"%>
		        	<%else%>
		        		<%= link_to "@", "/post/notifications/1"%>
		        	<%end%>
		        </li>
		        
		        
					<%= link_to "Todas", "/notifications"%>		
				
		        
	        </ul>
	        
			<div id="board-mention" <% if Notifications.where(:user_id => current_user[:id], :note_type => 1).empty? %>style="display:none;"<% end %>>
	            Conversaciones:
	        
	        <% Notifications.where(:user_id => current_user[:id], :note_type => 1).desc(:id).uniq_by {|x| x.from}[0..3].each do |mention_board| -%>	        
	        	    <div class="board-munecos" style="background: url(/img/<%= mention_board.from %>.jpg) no-repeat center; background-size: 100%;">
							<%= link_to "@#{User.find(mention_board.from).name}", "/post/mentions/#{mention_board.from}", :class => "linkRemote"%>	            
		    	 	</div>
		    <% end %>
	        
	    </div>
	
	    <ul id="board-block" <% if current_user.tags.empty? %>style="display:none;"<% end %>>
	        <li id="board-title">
	            Tus grupos:
	        </li>
	    
		     <div class="tags-cloud" style="width:200px; height:120px;position:relative; overflow: hidden;">   	        
	            <% current_user.tags[0..19].each do |tag_board| -%>
		          <ul>
		            	<li><%= link_to "##{tag_board.name}", "/post/tag/#{tag_board.name}", :class => "linkRemote", :rel => tag_board.posts.count %></li>	            
		          </ul>
	            <% end %>	        
		    </div>
	    </ul> 
	    <ul id="board-block">
	        <li id="board-title">
	            Tendencias:
	        </li>
	       <div class="tags-cloud" style="width:200px; height:120px;position:relative; overflow: hidden;">
	            <% Tag.find_most_popular(20).each do |tag_board| -%>
		            <ul>
		            	<li><%= link_to "##{tag_board.name}", "/post/tag/#{tag_board.name}", :class => "linkRemote", :rel => tag_board.count %></li>
	            	</ul>
		        <% end %>
	        </div>
        </ul>
	        
	        
	        
	        
 	</nav>
 	
 	
 	

