    <header class="board-white">
    	<% if flash[:notice] %>
		    <div id="notice">
		    	<%= flash[:notice] %>
		   	</div>
	    <% end %>
	    
	    <ul>
	    	<li>
		        <a href="/post/user" class="notice_a linkRemote"><%= current_user.profile%> (@<%= current_user.name%>) </a>
	        </li>
	    </ul>
	
    </header>
    <article id="marcofoto">
        <% if FileTest.exists?("public/img/#{current_user.id}.jpg") %>
        <%= link_to image_tag( "/img/#{current_user.id}.jpg", :size => "200", :alt => "Tu imagen",
        :class => "board-foto"), '/post/user', :class => "linkRemote"%>
        <% else %>
        <%= link_to image_tag( "/img/default.jpg", :size => "200", :alt => "Tu imagen",
        :class => "board-foto"), '/post/user', :class => "linkRemote"%>
        <% end -%>
    </article>

    <nav>
		
	    	<ul id="board-notifi">
	    		
		        <li><%=Notifications.where(:user_id => current_user[:id], :note_type => 5, :unread => 1).count%>C</a></li>
		        <li><%=Notifications.where(:user_id => current_user[:id], :note_type => 3, :unread => 1).count%>#</a></li>
		        <li><%=Notifications.where(:user_id => current_user[:id], :note_type => 1, :unread => 1).count%>@</a></li>
	        </ul>
		
	    <ul id="board-block" <% if Notifications.where(:user_id => current_user[:id], :note_type => 1, :unread => 1).empty? %>style="display:none;"<% end %>>
	        <li id="board-title">
	            Conversaciones:
	        </li>
	        
	        
	        <% Notifications.where(:user_id => current_user[:id], :note_type => 1, :unread => 1).desc(:id).uniq_by {|x| x.user_id}[0..3].each do |mention_board| -%>
	            <li id="board-tags">	            	
	            	<%= link_to "#{User.find(mention_board.from).name[0..5]}", "/post/user/#{User.find(mention_board.from).name}", :class => "linkRemote" %>:
	            	<%= link_to "#{Post.find(mention_board.resource_id).content[0..15]}", "/post/mentions/#{mention_board.from}", :class => "linkRemote" %>	            
	            </li>
            <% end %>
	         
	    </ul>
	
	    <ul id="board-block" <% if current_user.tags.empty? %>style="display:none;"<% end %>>
	        <li id="board-title">
	            Tus grupos:
	        </li>
	        	        
            <% current_user.tags[0..3].each do |tag_board| -%>
	            <li id="board-tags">
	            	<%= link_to "##{tag_board.name}", "/post/tag/#{tag_board.name}", :class => "linkRemote" %>	            
	            </li>
            <% end %>	        
	    </ul>
	    
	
	    <ul id="board-block">
	        <li id="board-title">
	            Tendencias:
	        </li>
	        
            <% Tag.find_most_popular(4).each do |tag_board| -%>
            <li id="board-tags">
            	<%= link_to "##{tag_board.name}", "/post/tag/#{tag_board.name}", :class => "linkRemote"%>
            </li>
            <% end %>
        </ul>
	        
 	</nav>

