    <header class="board-white">
	    <a href="/post/user" class=" linkRemote"><%= current_user.profile%> <span class="user">@<%= current_user.name%></span></a>
    </header>
    <article id="marcofoto">
        <% if FileTest.exists?("public/img/#{current_user.id}.jpg") %>
        <%= link_to image_tag( "/img/#{current_user.id}.jpg", :size => "200", :alt => "Tu imagen",
        :class => "board-foto"), '/post/user', :class => "linkRemote"%>
        <% else %>
        <%= link_to image_tag( "/img/default.jpg", :size => "200", :alt => "Tu imagen",
        :class => "board-foto"), '/post/user', :class => "linkRemote"%>
        <% end -%>
    </article>

    <nav>
		
	    	<ul id="board-notifi">
	 		        <li><%comm = Notifications.where(:user_id => current_user[:id], :note_type => 5, :unread => 1)%>
		        	<%if comm.count != 0%>
		        		<%= link_to "(#{comm.count})C", "/post/notifications/5"%>
		        	<%else%>
		        		<%= link_to "C", "/post/notifications/5"%>
		        	<%end%>
		        </li>
		        <li><%tags = Notifications.where(:user_id => current_user[:id], :note_type => 3, :unread => 1)%>
		        	<%if tags.count != 0%>
		        		<%= link_to "(#{tags.count})#", "/post/notifications/3"%>
		        	<%else%>
		        		<%= link_to "#", "/post/notifications/3"%>
		        	<%end%>
		        
		        </li>
		        
		        <li><%users = Notifications.where(:user_id => current_user[:id], :note_type => 1, :unread => 1)%>
		        	<%if users.count != 0%>
		        	<%= link_to "(#{users.count})@", "/post/notifications/1"%>
		        	<%else%>
		        		<%= link_to "@", "/post/notifications/1"%>
		        	<%end%>
		        </li>
	        </ul>
	        
		        <ul id="board-block">
		        	<li id="board-title">
						<%= link_to "Todas las notificaciones", "/notifications"%>
					</li>
						<%#= link_to "Usuarios", "/users"%>
					</li>
				</ul>
			
			<ul id="board-block" <% if Notifications.where(:user_id => current_user[:id], :note_type => 1).empty? %>style="display:none;"<% end %>>
	        
	        <li id="board-title">
	            Conversaciones:
	        </li>
	        
	        
	        <% Notifications.where(:user_id => current_user[:id], :note_type => 1).desc(:id).uniq_by {|x| x.from}[0..3].each do |mention_board| -%>
	             <div>	            	
	            	<%= link_to "@#{User.find(mention_board.from).name[0..5]}", "/post/user/#{User.find(mention_board.from).name}", :class => "user linkRemote", :style => "color:red;" %>:
	            	<%= link_to "#{Post.find(mention_board.resource_id).content[0..16]}", "/post/mentions/#{mention_board.from}", :class => "linkRemote" %>	            
	            </div>
            <% end %>
	         
	    </ul>
	
	    <ul id="board-block" <% if current_user.tags.empty? %>style="display:none;"<% end %>>
	        <li id="board-title">
	            Tus grupos:
	        </li>
	    
		     <div>   	        
	            <% current_user.tags[0..11].each do |tag_board| -%>
		          
		            	<%= link_to "##{tag_board.name}", "/post/tag/#{tag_board.name}", :class => "linkRemote" %>	            
		            
	            <% end %>	        
		    </div>
	    </ul> 
	
	    <ul id="board-block">
	        <li id="board-title">
	            Tendencias:
	        </li>
	        <div>
	            <% Tag.find_most_popular(12).each do |tag_board| -%>
	              	<%= link_to "##{tag_board.name}", "/post/tag/#{tag_board.name}", :class => "linkRemote"%>
	            <% end %>
	        </div>
        </ul>
	        
 	</nav>

