
    <header id="notice">
    <ul id="board-block">
    	<li>
        <a href="/post/user" class="notice_a linkRemote"><%= current_user.profile%> (@<%= current_user.name%>) </a>
        </li>
    </ul>
    <ul id="board-block">
        <li>
        <%= current_user.posts.count%> Posts
		</li>
    </ul>
     <ul id="board-block">
        <li>
        <%= current_user.tags.count%> Grupos
		</li>
    </ul>
        <% if flash[:notice] %>
        	<%= flash[:notice] %>
        <% end %>
    </header>

    <article id="marcofoto">
        <% if FileTest.exists?("public/img/#{current_user.id}.jpg") %>
        <%= link_to image_tag( "/img/#{current_user.id}.jpg", :size => "200", :alt => "Tu imagen",
        :class => "board_foto"), '/post/user', :class => "linkRemote"%>
        <% else %>
        <%= link_to image_tag( "/img/default.jpg", :size => "200", :alt => "Tu imagen",
        :class => "board_foto"), '/post/user', :class => "linkRemote"%>
        <% end -%>
    </article>

    <nav>
    	<ul id="board-notifi">
	        <li><%=Notifications.find(:all, :conditions => {:user_id => current_user[:id], :note_type => 5, :unread => 1}).count%>C</a></li>
	        <li><%=Notifications.find(:all, :conditions => {:user_id => current_user[:id], :note_type => 3, :unread => 1}).count%>#</a></li>
	        <li><%=Notifications.find(:all, :conditions => {:user_id => current_user[:id], :note_type => 1, :unread => 1}).count%>@</a></li>
        </ul>
    
	
	    <ul id="board-block">
	        <li id="board-title">
	            Mentions
	        </li>
	        
	         
	    </ul>
	
	    <ul id="board-block">
	        <li id="board-title">
	            Your groups
	        </li>
	        <% @tags_board = current_user.tags %>
	        
            <% @tags_board.each do |tag_board| -%>
            <li id="board-tags">
            	<%= link_to "##{tag_board.name}", "/post/tag/#{tag_board.name}", :class => "linkRemote" %>	            
            </li>
            <% end %>	        
	    </ul>
	    
	    <ul id="board-block">
	        <li id="board-title">
	            Latest tumblrs
	        </li>	        
	            <% @posts_board = Post.find(:all, :conditions => ["user_id = ? AND post_type NOT LIKE ?", current_user[:id], "image"], :order => 'id DESC') %>
	
	            <% @post_board_share = Share.find(:all, :conditions => {:user_id => current_user[:id]})
	  @post_board_share.each do |ps|
	    p = Post.find(ps.post_id)
	    if p.post_type != "image"
	    p.created_at = ps.created_at
	    @posts_board << p
	    end
	  end
	
	  @posts_board= @posts_board.sort_by {|post| post.created_at}.reverse %>
	
	            <% @posts_board.each do |post_board| -%>
	            <li id="board-tags">
	            	<a href="/post/list/<%= post_board.id %>" class="linkRemote"><%= strip_textile(post_board.content.length > 0 ? post_board.content : post_board.content.to_s)[0..18] %></a>
	            </li>
	            <% end %>	        
	    </ul>
	
	    <ul id="board-block">
	        <li id="board-title">
	            Popular groups
	        </li>
	        <% @tags_all_board = Tag.find_most_popular(20)%>
	        
            <% @tags_all_board.each do |tag_board| -%>
            <li id="board-tags">
            	<%= link_to "##{tag_board.name}", "/post/tag/#{tag_board.name}", :class => "linkRemote"%>
            </li>
            <% end %>
        </ul>
	        
 	</nav>

