<nav>

	<header class="board-white">
		<a href="/post/user" class=" linkRemote"><%= current_user.profile%> <span class="user">@<%= current_user.name%></span></a>
	</header>

	<article id="marcofoto">
		<%= link_to image_tag(current_user.photo.url(:medium) , :alt => "Tu imagen", :onError=> "this.src='/img/default.jpg';"), '/post/user', :class => "linkRemote" %>
	</article>

	<div id="board-notifi">
		<%= subscribe_to "/u/#{current_user[:id]}" %>
		<script language="JavaScript">
			PrivatePub.subscribe("/u/<%= current_user[:id] %>", function(data, channel) {
				llegadaNotificacion(data.note);
				if(data.comment_id == undefined){
					llegadaPost(data.note);
				}else{
					llegadaComment(data.note, data.comment_id);
				}
			});
		</script>

		<% @notifications = Notification.where(:user_id => current_user[:id], :note_type => 1, :unread => 1).desc(:id)[0..10].uniq_by {|x| x.from} -%>
		<div class='popbox popbox-mentions'>
			<a class="open open-mentions" href="#" id="notif1">@<span class="numNotif" <% if @notifications.count == 0 %>style="display:none"<%end%>><%=@notifications.count%></span></a>
			<div class='collapse collapse-mentions'>
				<div class='box box-mentions'>
					<div class='arrow arrow-mentions'></div>
					<div class="popbox-title">
						<%= t :titulo_notificaciones_menciones %>
					</div>
					<div class='popbox-scroll' id="popbox-notif1">
						<%= render :partial => "notification/list", :collection => @notifications%>
					</div>
					<div class="popbox-footer">
						<%= link_to "#{t :todas}", "/notif/index", :class => "popbox-a linkRemote" %>
					</div>
				</div>
			</div>
		</div>

		<% @notifications = Notification.where(:user_id => current_user[:id], :note_type => 3, :unread => 1).desc(:id)[0..10].uniq_by {|x| x.from} -%>
		<div class='popbox popbox-groups'>
			<a class='open open-groups' href='#' id="notif3">#<span class="numNotif" <% if @notifications.count == 0 %>style="display:none"<%end%>><%=@notifications.count%></span></a>
			<div class='collapse collapse-groups'>
				<div class='box box-groups'>
					<div class='arrow arrow-groups'></div>					
					<div class="popbox-title">
						<%= t :titulo_notificaciones_grupos %>
					</div>
					<div class='popbox-scroll'>
						<div class="popbox-cajita" id="popbox-notif3">
							<%= render :partial => "notification/list", :collection => @notifications%>
						</div>
					</div>
					<div class="popbox-footer">
						<%= link_to "#{t :todas}", "/notif/index", :class => "popbox-a linkRemote"  %>
					</div>
				</div>
			</div>
		</div>

		<% @notifications = Notification.where(:user_id => current_user[:id], :note_type => 5, :unread => 1).desc(:id)[0..10].uniq_by {|x| x.from} -%>
		<div class='popbox popbox-comments'>
			<a class='open  open-comments' href='#' id="notif5">C<span class="numNotif" <% if @notifications.count == 0 %>style="display:none"<%end%>><%=@notifications.count%></span></a>
			<div class='collapse collapse-comments'>
				<div class='box box-comments'>
					<div class='arrow arrow-comments'></div>					
					<div class="popbox-title">
						<%= t :titulo_notificaciones_comentarios %>
					</div>
					<div class='popbox-scroll'>
						<div class="popbox-cajita" id="popbox-notif5">
							<%= render :partial => "notification/list", :collection => @notifications%>
						</div>
					</div>
					<div class="popbox-footer">
						<%= link_to "#{t :todas}", "/notif/index", :class => "popbox-a linkRemote"  %>
					</div>
				</div>
			</div>
		</div>
		<br />
	</div>

	<div id="tabs-board">
		<ul>
			<% if current_user.tags.count != 0 %>
			<li>
				<a href="#tusgrupos"><%= t :tus_grupos %></a>
			</li>
			<% end %>
			<li>
				<a href="#tendencias"><%= t :tendencias %></a>
			</li>

			<% if current_user.tags.count != 0 %>
			<div id="tusgrupos" class="tags-cloud-groups nube-tags" style="width:200px; height:120px;position:relative; overflow: hidden;">
				<% current_user.tags[0..9].each do |tag_board| -%>
				<ul>
					<li>
						<%= link_to "##{tag_board.name}", "/post/tag/#{tag_board.name}", :class => "linkRemote tags-a", :rel => tag_board.posts.count, :title => tag_board.name %>
					</li>
				</ul>
				<% end %>
			</div>
			<% end %>

			<div id="tendencias" <% if current_user.tags.count != 0 %>class="tags-cloud-populars nube-tags"<% else %>class="tags-cloud-groups nube-tags"<% end %> style="width:200px; height:120px;position:relative; overflow: hidden;">
				<% Tag.find_most_popular(10).each do |tag_board| -%>
				<ul>
					<li>
						<%= link_to "##{tag_board.name}", "/post/tag/#{tag_board.name}", :class => "linkRemote", :rel => tag_board.count, :title => tag_board.name %>
					</li>
				</ul>
				<% end %>
			</div>
		</ul>
	</div>
</nav>