<center>
    <header>
    	<% if flash[:notice] %>
		    <div id="notice">
		    	<%= flash[:notice] %>
		   	</div>
	    <% end %>
	    
	    <ul>
	    	<li>
		        <h5><a href="/post/user" class="notice_a linkRemote"><%= current_user.profile%> (@<%= current_user.name%>) </a><h5>
	        </li>
	    </ul>
	
	    <div>
	        <%= current_user.posts.count%> Posts |
	        <%= current_user.tags.count%> Grupos
	    </div>
    </header>
    <article id="marcofoto">
        <% if FileTest.exists?("public/img/#{current_user.id}.jpg") %>
        <%= link_to image_tag( "/img/#{current_user.id}.jpg", :size => "200", :alt => "Tu imagen",
        :class => "board_foto"), '/post/user', :class => "linkRemote"%>
        <% else %>
        <%= link_to image_tag( "/img/default.jpg", :size => "200", :alt => "Tu imagen",
        :class => "board_foto"), '/post/user', :class => "linkRemote"%>
        <% end -%>
    </article>

    <nav>
    	<ul id="board-notifi">
	        <li><%=Notifications.find(:all, :conditions => {:user_id => current_user[:id], :note_type => 5, :unread => 1}).count%>C</a></li>
	        <li><%=Notifications.find(:all, :conditions => {:user_id => current_user[:id], :note_type => 3, :unread => 1}).count%>#</a></li>
	        <li><%=Notifications.find(:all, :conditions => {:user_id => current_user[:id], :note_type => 1, :unread => 1}).count%>@</a></li>
        </ul>
</center>    
	
	    <ul id="board-block">
	        <li id="board-title">
	            Ultimas conversaciones
	        </li>
	        
	         
	    </ul>
	
	    <ul id="board-block">
	        <li id="board-title">
	            Tus grupos
	        </li>
	        <% @tags_board = current_user.tags %>
	        
            <% @tags_board.each do |tag_board| -%>
            <li id="board-tags">
            	<%= link_to "##{tag_board.name}", "/post/tag/#{tag_board.name}", :class => "linkRemote" %>	            
            </li>
            <% end %>	        
	    </ul>
	    
	
	    <ul id="board-block">
	        <li id="board-title">
	            Popular groups
	        </li>
	        <% @tags_all_board = Tag.find_most_popular(5)%>
	        
            <% @tags_all_board.each do |tag_board| -%>
            <li id="board-tags">
            	<%= link_to "##{tag_board.name}", "/post/tag/#{tag_board.name}", :class => "linkRemote"%>
            </li>
            <% end %>
        </ul>
	        
 	</nav>

