<header class="board-white">
	<a href="/post/user" class=" linkRemote"><%= current_user.profile%> <span class="user">@<%= current_user.name%></span></a>
</header>

<article id="marcofoto">

	<%= link_to image_tag(current_user.photo.url(:medium) , :alt => "Tu imagen", :onError=> "this.src='/img/default.jpg';"), '/post/user', :class => "linkRemote" %>

</article>

<nav>
	<ul id="board-notifi">
		<li>

			<% comm = Notifications.where(:user_id => current_user[:id], :note_type => 5, :unread => 1)%>
			<%if comm.count != 0%>
			<%= link_to "(#{comm.count})C", "/post/notifications/5"%>
			<%else%>
			<%= link_to "C", "/post/notifications/5"%>
			<%end%>
		</li>
		<li>
			<% tags = Notifications.where(:user_id => current_user[:id], :note_type => 3, :unread => 1)%>
			<%if tags.count != 0%>
			<%= link_to "(#{tags.count})#", "/post/notifications/3"%>
			<%else%>
			<%= link_to "#", "/post/notifications/3"%>
			<%end%>
		</li>
			<%comm = Notifications.where(:user_id => current_user[:id], :note_type => 5, :unread => 1)%>
	    	<%if comm.count != 0%>
	        	<%= link_to "(#{comm.count})C", "/post/notifications/5"%>
	        <%else%>
	        	<%= link_to "C", "/post/notifications/5"%>
	        <%end%>
	    </li>
	    <li>
	    	<%tags = Notifications.where(:user_id => current_user[:id], :note_type => 3, :unread => 1)%>
	       	<%if tags.count != 0%>
	       		<%= link_to "(#{tags.count})#", "/post/notifications/3"%>
	      	<%else%>
	       		<%= link_to "#", "/post/notifications/3"%>
	       	<%end%>
	    </li>
	        
	    <li>
	    	<%users = Notifications.where(:user_id => current_user[:id], :note_type => 1, :unread => 1)%>
	        <%if users.count != 0%>
	        	<%= link_to "(#{users.count})@", "/post/notifications/1"%>
	        <%else%>
	        	<%= link_to "@", "/post/notifications/1"%>
	        <%end%>
	    </li>
			<%= link_to "Todas", "/notifications"%>		
	    </ul>
        
		<div id="board-mention" <% if Notifications.where(:user_id => current_user[:id], :note_type => 1).empty? %>style="display:none;"<% end %>>
            Conversaciones:
        <% Notifications.where(:user_id => current_user[:id], :note_type => 1).desc(:id).uniq_by {|x| x.from}[0..3].each do |mention_board| -%>	        
            <div class="board-munecos" style="background: url('<%= User.find(mention_board.from).photo.url(:medium) %>') no-repeat center; background-size: 100%;">
				<%= link_to "@#{User.find(mention_board.from).name}", "/post/mentions/#{mention_board.from}", :class => "linkRemote"%>	            
	    	</div>
	    <% end %>
    </div>

>>>>>>> f78c3d091543a22be0fc41505ee1f57bb7e040a9

		<li>
			<% users = Notifications.where(:user_id => current_user[:id], :note_type => 1, :unread => 1)%>
			<%if users.count != 0%>
			<%= link_to "(#{users.count})@", "/post/notifications/1"%>
			<%else%>
			<%= link_to "@", "/post/notifications/1"%>
			<%end%>
		</li>
		<%= link_to "Todas", "/notifications"%>
	</ul>

	<div id="board-mention" <% if Notifications.where(:user_id => current_user[:id], :note_type =>
		1).empty? %>style="display:none;"<% end %>>
		Conversaciones:
		<% Notifications.where(:user_id => current_user[:id], :note_type => 1).desc(:id).uniq_by {|x| x.from}[0..3].each do |mention_board| -%>
		<div class="board-munecos" style="background: url('<%= User.find(mention_board.from).photo.url(:small) %>') no-repeat center; background-size: 100%;">
			<%= link_to "@#{User.find(mention_board.from).name}", "/post/mentions/#{mention_board.from}", :class => "linkRemote"%>
		</div>
		<% end %>
	</div>

	<div id="tabs-board">
		<ul>
			<% if current_user.tags.count != 0 %>
			<li>
				<a href="#tusgrupos">Tus grupos</a>
			</li>
			<% end %>
			<li>
				<a href="#tendencias">Tendencias</a>
			</li>

			<% if current_user.tags.count != 0 %>
			<div id="tusgrupos" class="tags-cloud-groups" style="width:200px; height:120px;position:relative; overflow: hidden;">
				<% current_user.tags[0..9].each do |tag_board| -%>
				<ul>
					<li>
						<%= link_to "##{tag_board.name}", "/post/tag/#{tag_board.name}", :class => "linkRemote", :rel => tag_board.posts.count, :title => tag_board.name %>
					</li>
				</ul>
				<% end %>
			</div>
			<% end %>

			<div id="tendencias" <% if current_user.tags.count != 0 %>class="tags-cloud-populars"<% else %>class="tags-cloud-groups"<% end %> style="width:200px; height:120px;position:relative; overflow: hidden;">
				<% Tag.find_most_popular(10).each do |tag_board| -%>
				<ul>
					<li>
						<%= link_to "##{tag_board.name}", "/post/tag/#{tag_board.name}", :class => "linkRemote", :rel => tag_board.count, :title => tag_board.name %>
					</li>
				</ul>
				<% end %>
			</div>
		</ul>
	</div>
</nav>

