<section id="user-edit" >
	<div id="tabs">
	  <ul>
	    <li><a href="#perfil"><%= t 'perfil.perfil' %></a></li>
	    <li><a href="#cuenta"><%= t 'perfil.cuenta' %></a></li>
	    <li><a href="#sobre"><%= t 'perfil.sobre' %></a></li>
		<div id="perfil">
		 	<div class="user-edit-2">
				<%= form_for :user, :url => { :controller => "users", :action => :updateImage }, :html => {:id => "formImageUser", :multipart => true, :method => :post, :remote => true} do |f| %>
					<%= t'perfil.escoja_foto' %><br/>
					<%= image_tag @user.photo.url(:medium), :onError=> "this.src='/img/default.jpg';" %>
					<br /> 
					<%= f.file_field :photo %>
					<br /><br /> 
					<%= link_to "#{t'cambiar'}", "#", :id => "imageUser" %>
					<br />
				<% end %>
			</div>
			<div class="user-edit">	  
				<%= form_for @user, :html => {:id => "formUser", :remote => true} do |f| %>
				  <%#= f.error_messages %>
				    <%= f.label :profile, "#{t'perfil.profile'}" %>
				    <%= f.text_field :profile %>
			   		<br />  <br />
				    <%= f.label :bio, "#{t'perfil.bio'}" %>
				    <%= f.text_field :bio %>
					<br />  <br />
				    <%= f.label :url, "#{t'perfil.web'}" %>
				    <%= f.text_field :url %>
					<br />  <br />
					<%= f.submit "#{t'cambiar'}", :id => "datosUser" %>
					<br />  <br />
				<% end %>	
	  		</div>
		</div>
		<div id="cuenta">
		  	<div class="user-edit-2">
		  		<%= form_for @user, :html => {:id => "formUser", :remote => true} do |f| %>
				    <%= f.label :email, "#{t'perfil.email'}" %>
				    <%= f.text_field :email %>
					<br />  <br />
				    <%= f.label :password, "#{t'perfil.clave'}" %>
				    <%= f.password_field :password %>
					<br />  <br />
					<%= f.label :password_confirmation, "#{t'perfil.repite_clave'}" %>
				    <%= f.password_field :password_confirmation %>
					<br />  <br />
				 	<%= f.submit "#{t'cambiar'}", :id => "claveUser" %>				
				<% end %>				
			</div>			
			<div class="user-edit user-text">	  
				<%= t'perfil.politica_datos' %>
				<br/><br/>
				<p>
					<%= t 'perfil.politica_datos1' %>
				</p>
				<p>
					<%= t 'perfil.politica_datos2' %>
				</p>
				<p>
					<%= t 'perfil.politica_datos3' %>		
				</p>
		  	</div>
		  	<div style="clear:both"></div>
		  	<a href="#"  class="condicion"> <%= t 'perfil.borrar' %> </a>
			<div class="condiciones">
				<a href="#" class="cerrar-condiciones"> <%= t 'cerrar' %></a>
				<h5><%= t 'perfil.seguroBorrar' %></h5>		
				<%= form_tag :controller => 'users', :action => 'delete_user', :method => 'delete', :html => {:id => "formUser", :remote => true} do %>
					<%= label_tag :email, "#{t'perfil.email'}" %>
				    <%= text_field_tag :email %>						
				    <br />  <br />
					<%= submit_tag "#{t'perfil.borrar'}", :html => { :id => "borrarUser" } %>
					<br />  <br />				
				<% end %>											
			</div>
		</div>		  
		<div id="sobre">
			<div class="user-text">				
				<br/><br/>
				<%= t'perfil.tomalared_es' %>
				<br/><br/>
				<p>
					<%= t 'perfil.tomalared_es1' %> 
				</p>
				<p>
					<%= t 'perfil.tomalared_es2' %>
				</p>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
				     <input type="hidden" name="cmd" value="_s-xclick">
				     <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBuMJGWhsgp6RX0y7i6KRJBdBGvvApwJJbzwot5rNZCdocg9VMFbViHGawYay8Vpx/Lq6ZJeUjgm5fOvXagtSHQWwdda8lhpH0LU7ZuHIrb/R8La7L6nbQUhm2886I/yo0nkdiu0L//th8IDkAQsFj36myaBQNIYcDkJtrE25wxczELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI+j40tCw5riqAgYjvGRm89qVjm5nS/7KzmdxIuxDb33kgP6Tw0IwgQSn0VFFkNqZ6shlT0D1KQRHIcNwiexmQFEuAK+n1fCd3ICS7mkNWxiw7n1s7g9jWGtKWe51BUKDiSMsdavZV9rpN0G+ZvrikqAdzmgMAn2Wg8+WcOAz8JuvjGvdemGqhhkQS8vd76/p+nPn4oIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTMwNTI4MDUxMjM3WjAjBgkqhkiG9w0BCQQxFgQUymluVUiBEjsz81r9EGEbNHBLpbgwDQYJKoZIhvcNAQEBBQAEgYBfVZH5ElCpBnrxlToQ/deJuqVEInWvriEdcwd68XCiwHJ/0QFQ2RZovpN96FX+FdjmfxNCk2N2ZSIH2lEEb3H0eys5G3oDeiJJhMJmkt0zyk+G46UR1gMEKUms7YGvwCbBlkE+gF53u4QjZYzOb/9tUyOOIobt55qNN2eDGZRXAw==-----END PKCS7-----">
				     <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet.">
				     <img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
				</form>
		  	</div>				
		</div>
	  </ul>
  </div>
</section>