<% if @usernew.errors.any? %>
	<div class="registro">
<% else %>
	<div class="registro2">
<% end %>  
  <%= form.text_field :name, :placeholder => 'Nombre de usuario' %>  
  <%= form.text_field :profile , :placeholder => 'Profile' %>  
  <%= form.text_field :email, :placeholder => 'Email' %>
  <%= form.password_field :password, :placeholder => 'Password' %>
  <%= form.password_field :password_confirmation, :placeholder => 'Password' %>
  
  <%= form.submit "Crear" %>
</div>
<%= render "shared/error_messages", :target => @usernew %>

