<h1>Edit My Account</h1>
<% @page_name = "Editar tu usuario" -%>
<br>
<center>
<%= form_tag '/updatefoto', :multipart=> true do %>
	Escoja un foto

<br/>
		<% if FileTest.exists?("public/img/#{current_user[:id]}.jpg") %>
			 <%= image_tag( "/img/#{current_user[:id]}.jpg", :size => "300", :alt => "Tu imagen", :class => "post_foto")  %>
		<% else %>
			<%= image_tag( "/img/default.jpg", :size => "300", :alt => "Tu imagen", :class => "post_foto") %>
		<% end -%>
<br/>
		<%= file_field_tag 'user_pic', :accept => 'image/png,image/gif,image/jpeg' %>




		<%= submit_tag "Subir foto" %>
<% end %>

<% form_for @user, :url => account_path do |f| %>
  <%= render :partial => "form", :object => f, :locals => { :user => @user } %>
  <%= f.submit "Update" %>
<% end %>

<br /><%= link_to "My Profile", account_path %>
<center>

