<section id="user-edit" >
<div id="tabs">
  <ul>
    <li><a href="#perfil"><span>Perfil</span></a></li>
    <li><a href="#cuenta"><span>Cuenta</span></a></li>
    <li><a href="#notificaciones"><span>Notificaciones</span></a></li>

  <div id="perfil">
 	<div class="user-edit-2">
	<%= form_for @user, :html => { :multipart => true } do |form|%>
		Escoja un foto
	
		<%= image_tag @user.photo.url(:medium) %>	      
      	  <%= form.file_field :photo %>
				
			 <%= form.submit "Submit" %>
	</div>
		
		<% end %>
		<div class="user-edit">	  
		<%= form_for @user do |f| %>
		  <%#= f.error_messages %>
		    <%= f.label :nombre_del_perfil %>
		    <%= f.text_field :profile %>
	   		<br />  <br />
		    <%= f.label :bio %>
		    <%= f.text_field :bio %>
			<br />  <br />
		    <%= f.label :website %>
		    <%= f.text_field :url %>
			<br />  <br />
		  <%= f.submit "Cambiar" %>
		<% end %>
		

  		</div>
  </div>
  
  <div id="cuenta">
	<div class="user-edit">	  
		<%= form_for @user do |f| %>
		  <%#= f.error_messages %>
		    <%= f.label :email %>
		    <%= f.text_field :email %>
			<br />  <br />
		    <%= f.label :contraseña %>
		    <%= f.text_field :password %>
			<br />  <br />
			<%= f.label :confirmar_contraseña %>
		    <%= f.text_field :password_confirmation %>
	<br />  <br />
		 <%= f.submit "Cambiar" %>
		
		<% end %>
  		</div>
  </div>
  

  <div id="notificaciones">

  </div>

  </ul>
  </div>
</section>