<section id="user-edit" >
	<h4>Editar usuario</h4>
	<% @page_name = "Editar tu usuario" -%>
	
	<div class="six columns user-edit">
	<%= form_tag '/updatefoto', :multipart=> true do %>
		Escoja un foto
	
	
			<% if FileTest.exists?("public/img/#{current_user[:id]}.jpg") %>
				 <%= image_tag( "/img/#{current_user[:id]}.jpg", :width => "100%", :alt => "Tu imagen", :class => "post_foto")  %>
			<% else %>
				<%= image_tag( "/img/default.jpg", :width => "100%", :alt => "Tu imagen", :class => "post_foto") %>
			<% end -%>
	
			<%= file_field_tag 'user_pic', :accept => 'image/png,image/gif,image/jpeg' %>
	
			<%= submit_tag "Subir foto" %>	
	</div>
		
		<% end %>
	<div class="five columns push_one user-edit">	  
		<%= form_for @user do |f| %>
		  <%#= f.error_messages %>
		  
		    <%= f.label :nombre_del_perfil %>
		    <%= f.text_field :profile %>
	   <br />  <br />
		    <%= f.label :bio %>
		    <%= f.text_field :bio %>
		<br />  <br />
		    <%= f.label :website %>
		    <%= f.text_field :url %>
		<br />  <br />
		    <%= f.label :email %>
		    <%= f.text_field :email %>
		<br />  <br />
		    <%= f.label :password %>
		    <%= f.password_field :password %>
		<br />  <br />
		    <%= f.label :password_confirmation %>
		    <%= f.password_field :password_confirmation %>
		  
		  <%= f.submit "Submit" %>
		
		<% end %>
	</div>
</section>>