<div class="imagen">
	<div class="imagen">
		<a href="<%=content%>" rel="prettyPhoto[post]" class="ln">
	  		<img src="<%=content%>" class="post-image" width="387" height="85" usemap="#image_map" border="0" alt="
	  		 <a herf='/post/user/<%= Post.find(post_id).user.name %>'>@<%= Post.find(post_id).user.name%> </a> 
	  		 en <%= linked_tags_with_commas(Post.find(post_id).tags).html_safe.gsub(/"/, "'") %>">
	  	</a>
	</div>
</div>
