<% img = content.split[-3] -%>
<% link = content.split[-2] -%>
<% host = content.split[-1] -%>
<% desc = content.split[0..-4].join(" ") -%>

<div class="type-link">
<a href="<%= link %>" target="_blank">
	<% if img != "no-img" %>
		<div class="post_link_photo">
			<div class="mediano-muneco" style="background: url(<%= img %>) no-repeat center; background-size: 150%;"></div>
		</div>
	<% end %>

	<div class="post_link_text">
<a href="<%= link %>" target="_blank">
	<b><%= title.html_safe %></b>
		<br>
		<%= desc.html_safe[0..150] %>
		<br>
		<i><%= host %></i>
	</div>
</a>
</div>

