<% if current_user %>
<button id="open-publicar"><%= t 'post.publicar' %></button>
	<div id="form-new">
		<%= form_tag('/save', :id => "save", :multipart=> true, :remote => true) do %>
			<div class="mediano-muneco2"> 
				<div class="arrow-left"></div>
				<%= link_to image_tag( current_user.photo.url(:medium)  , :alt => "Tu imagen"), "/post/user/#{current_user.name}", :class => "linkRemote mediano-muneco-newex" %> 		
			</div>			
			<%= text_area 'post','content' , :class => 'textarea', :placeholder => "#{t'posts.placeholder'}" %>
			
			<%= submit_tag "#{t'publicar'}", :id => "tumblear" %>
			<%= hidden_field 'post', 'user_id', :value => (@po.new_record? ? current_user[:id] : @po.user_id) %>
		<% end %>
	</div>
	
<% end %>