<% if current_user %>
<%= form_tag('/save', :id => "save", :multipart=> true, :remote => true) do %>

<div class="new">
    <div id="post-title">
        <%= text_field 'post', 'title', :class => 'new-title', :placeholder => 'Que te cuentas?', :style => "display:none"%>
    </div>
    <div class="new-foto">
        <br/>
        <% if FileTest.exists?("public/img/#{current_user[:id]}.jpg") %>
        <div class="mediano-muneco" style="background: url(/img/<%= current_user[:id]%>.jpg) no-repeat center; background-size: 200%;"></div>
        <% else %>
        <div class="mediano-muneco" style="background: url(/img/default.jpg) no-repeat center; background-size: 200%;"></div>
        <% end -%>
    </div>
    <div class="new-editor">
        <div id="textarea">
            <%= text_area 'post','content' , :class => 'textarea' %>
            <div id="archivo">
                <%= file_field_tag 'img', :accept => 'image/png,image/gif,image/jpeg' %>
            </div>
            <div id="cargando">
                <%= image_tag("/img/ajax-loader.gif", :title => "Cargando", :alt => "Cargando") %>
            </div>
            <%= text_field_tag 'tags', @tags, :class => 'new-tag', :placeholder => '*Introduce los tags separados por espacios, sin almoadilla', :style => "display:none" %>
            <%= submit_tag 'Tumblear', :id => "tumblear" %>
            <%= hidden_field 'post', 'user_id', :value => (@po.new_record? ? current_user[:id] : @po.user_id) %>
        </div>
    </div>
</div>
<div id="actualizar" style="display: none"></div>
<% end %>
<% end %>

