<%= div_for(post, :class => "endless_scroll_content") do %>
	<% @post_user = User.find(post.user_id) -%>
	<article class="postContent">

		<div class="mediano-muneco">
			<div class="arrow-left"></div>	
			<%if @user%>	
				<%= link_to image_tag( @user.photo.url(:medium)  , :alt => "Imagen de #{@user.name}", :onError=> "this.src='/img/default.jpg';"), "/post/user/#{@user.name}", :class => "linkRemote mediano-muneco-post" %>
			<%else%>	
				<%= link_to image_tag( @post_user.photo.url(:medium)  , :alt => "Imagen de #{@post_user.name}", :onError=> "this.src='/img/default.jpg';"), "/post/user/#{@post_user.name}", :class => "linkRemote mediano-muneco-post" %>
			<%end%>
		</div>
	
		<div class="mainPostContent">
			<span class="iconos">
				<%if current_user[:id] == post.user_id%>
					<%= link_to 'Delete', { :controller => :post, :action => 'delete', :id => post.id },
					:data => { :confirm => "¿Seguro que quieres borrar es post?"}, :class => "borrarPost", :method => :delete, :remote => true %>
				<% else %>
						<div id="sharePost_<%=post.id%>">						
							<%= render :partial => 'share/share', :locals => { :post_id => post.id } %>
						</div>					
				<% end %>
				
				<%if current_user%>
							<%= render :partial => 'vote/vote_post', :locals => {:post_id => post.id, :post_user_id => post.user_id} %>
				<% end %>
			</span>
			
			<%if @user %>
				<%if @post_user.id != @user.id %>
					<%= link_to "#{@user.profile}", "/post/user/#{@user.name}", :class => "linkRemote user", :title =>  "@#{@user.name}"  %>
					<%= t'posts.share'%> 
					<%= link_to "#{@post_user.profile}", "/post/user/#{@post_user.name}", :class => "linkRemote user", :title =>  "@#{@post_user.name}"  %>
				<% else %>
					<%= link_to "#{@post_user.profile}", "/post/user/#{@post_user.name}", :class => "linkRemote user", :title =>  "@#{@post_user.name}"  %>
				<% end %>
			<%else %>
				<%= link_to "#{@post_user.profile}", "/post/user/#{@post_user.name}", :class => "linkRemote user",:title =>  "@#{@post_user.name}" %>
			<% end %>
			
			<br/>
			<span class="timeCount">
				<%= hace_tanto_tiempo(Time.at(post.created_at),Time.now).html_safe %>		
			</span>
			
			<%= render :partial => oz_type_partial(post.post_type), :locals => { :content => post.content, :usr => @post_user.name, :title => post.title, :post_id => post.id } %>
			<%if post.tags.first && post.post_type != 'quote' %>
				<div class="postFooter">
					<span class="tag" > <%= linked_tags_with_commas(Post.find(post.id).tags).html_safe %></span>			
				</div>
			<%end%>			    
		</div>
	</article>
	
	<footer class="postComments">
		<%= render :partial => 'comment/index', :object => post, :as => "post" %>
	</footer>
	
	<input type="hidden" id="created_at_<%= post.id %>" class="created_at" value="<%= post.created_at %>"/>
	
<% end %>
<div style="clear:both"></div>

