<%= div_for post do %> 
<% @user = User.find(post.user_id) -%>

  	
	<article class="postContent">

	    <% if FileTest.exists?("public/img/#{post.user_id}.jpg") %>
	    	<div class="mediano-muneco" style="background: url(/img/<%= post.user_id%>.jpg) no-repeat center; background-size: 200%;"></div>
	    <% else %>
	   		<div class="mediano-muneco" style="background: url(/img/default.jpg) no-repeat center; background-size: 100%;"></div>
	    <% end -%>   
	
		<span class="mainPostContent">
			<%if current_user[:id] == post.user_id%>  
			    <%= link_to 'Delete', { :controller => :post, :action => 'delete', :id => post.id },
		        :data => { :confirm => "¿Seguro que quieres borrar es post?"}, :class => "borrarPost", :method => :delete, :remote => true %>
			<% end %>
		
			<%= render :partial => oz_type_partial(post.post_type), :locals => { :content => post.content, :usr => @user.name, :title => post.title } %>
		    
	    </span>
	    
	    <%if current_user%>	    	
	    	<%= render :partial => 'vote/vote_post', :locals => {:post_id => post.id, :post_user_id => post.user_id} %>	
	    <% end %>
	    
	    	<%= link_to "@#{@user.name}" , "/post/user/#{@user.name}", :class => "linkRemote" %>,
        <%= distance_of_time_in_words(Time.now, Time.at(post.created_at), false,  :highest_measure_only => true, :locale => "es")%> ago
    	
	   	<span id="post-tags" <% if post.tags.empty? %>style="display:none;"<% end %>> 
	   		<%= linked_tags_with_commas(post.tags).html_safe %> 
	   	</span>	
	    
	</article>
	
	<footer class="postComments">
	    <%= render :partial => 'comment/index', :object => post, :as => "post" %>
    </footer>
    <input type="hidden" id="created_at_<%= post.id %>" value="<%= post.created_at %>"/>
 	
<% end %>

