<% unless @posts.blank? %>
	<% if params[:last] %>
		<% if params[:direccion] == "prev" %>
			$("div.post:last").before("<%= escape_javascript( render :partial => "posts", :collection => @posts, :as => "post" ) %>");
		<% else %>
			$("div.post:last").after("<%= escape_javascript( render :partial => "posts", :collection => @posts, :as => "post" ) %>");
		<% end %>
		pintarBotonesPost();
		pintarBotonesComment();
		pintarBotonesVote();
	<% else %>
		<% if !@soloposts %>
		    personalizarPag("<%= escape_javascript( render :partial => "muneco" ) %>", "<div id=\"posts\"><%= escape_javascript( render :partial => "posts", :collection => @posts, :as => "post" ) %></div>", "<% if current_user and !params[:id] %><%= escape_javascript( render :partial => "newex" ) %><% end %>");
		<% elsif @soloposts %>
		    actualizado("<div id=\"posts\"><%= escape_javascript( render :partial => "posts", :collection => @posts, :as => "post" ) %></div>");
		<% end %>
	<% end %>
<% end %>