	    <ul class="voteMenu">
			<%if !Likes.exists?(:user_id => current_user, :like_type => 1, :type_id => post_id)%>
			 	<li>
					<%= link_to '', {:controller => :vote, :action => 'dontlike', :like_type => 1, :type_id => post_id}, :method => :delete, :class => "iconsMenos linkRemote2"  %>
				</li>
				 <li>
					<%= link_to '', {:controller => :vote, :action => 'like', :like_type => 1, :type_id => post_id }, :class => "iconsMas linkRemote2" %>
				</li>
			<% else %>
			
				<% if Likes.exists?(:user_id => current_user, :like_type => 1, :type_id => post_id, :like => 1, :dontlike => 0) %>
	 				<li>						
						<%= link_to '',	{:controller => :vote, :action => 'change_to_dontlike', :like_type => 1, :type_id => post_id }, :method => :delete, :class => "iconsMenos linkRemote2"  %>
					</li>
	 				<li>
						<%= link_to '', '', :class => "iconsMasDisable" %>
					</li>			
	
				<% else %>
					<li>
						<%= link_to '', '', :class => "iconsMenosDisable"  %>
					</li>
					<li>
						<%= link_to '', {:controller => :vote, :action => 'change_to_like', :like_type => 1, :type_id => post_id}, :method => :delete, :class => "iconsMas linkRemote2"  %>
					</li>
								
				<% end %>
			<% end %>
	
				<li class="icons2"><%= Likes.find(:all, :conditions => {:like_type => 1, :type_id => post_id, :like => 1, :dontlike => 0 }).count - Likes.find(:all, :conditions => {:like_type => 1, :type_id => post_id, :like => 0, :dontlike => 1 }).count  %></li>			
			
		</ul>
