<span title="
    <div style='text-align:right;'>
		<span style='color: green;'>Positivos <%= Likes.find(:all, :conditions => {:like_type => 2, :type_id => comment_id, :like => 1, :dontlike => 0 }).count%></span><br/>
		<span style='color: red;'>Negativos <%= Likes.find(:all, :conditions => {:like_type => 2, :type_id => comment_id, :like => 0, :dontlike => 1 }).count%></span><br/>
		<span style='color: black;'>Total <%= Likes.find(:all, :conditions => {:like_type => 2, :type_id => comment_id, :like => 1, :dontlike => 0 }).count - Likes.find(:all, :conditions => {:like_type => 2, :type_id => comment_id, :like => 0, :dontlike => 1 }).count  %></span>
	</div>">
	<ul class="voteMenu">	
		<%if !Likes.exists?(:user_id => current_user, :like_type => 2, :type_id => comment_id)%>
				<li class="iconsVoteComentarios">
					<%= link_to '', {:controller => :vote, :action => 'like', :like_type => 2, :type_id => comment_id }, :method => :delete, :class => 'iconsMasComentario linkRemote2' %>
				</li>
				<li class="iconsVoteComentarios">		
					<%= link_to '', {:controller => :vote, :action => 'dontlike', :like_type => 2, :type_id => comment_id}, :method => :delete, :class => 'iconsMenosComentario linkRemote2' %>
				</li> 
		<% else %>
		
					<% if Likes.exists?(:user_id => current_user, :like_type => 2, :type_id => comment_id, :like => 1, :dontlike => 0) %>
						<li class="iconsVoteComentarios">
							<%= link_to '', '', :class => 'iconsMasComentarioDisable' %>
						</li>
						<li class="iconsVoteComentarios">
							<%= link_to '', {:controller => :vote, :action => 'change_to_dontlike', :like_type => 2, :type_id => comment_id }, :method => :delete, :class => 'iconsMenosComentario linkRemote2'  %>																										 
						</li>
					<% else %>
						<li class="iconsVoteComentarios">
							<%= link_to '',	{:controller => :vote, :action => 'change_to_like', :like_type => 2, :type_id => comment_id}, :method => :delete, :class => 'iconsMasComentario linkRemote2' %> 
						</li>		
						<li class="iconsVoteComentarios">		
							<%= link_to '', '', :class => 'iconsMenosComentarioDisable' %>
						</li> 
					<% end %>
		<% end %>	
	</ul>	
</span>
