<header id="header">
	<div id="titulo">
	    <br/>
	    <%= link_to image_tag( "/gfx/logo.png", :mouseover => image_path("/gfx/logo_hover.png"), :alt => "Logo", :class => 'logo'), '/post/list', :class => "linkRemote" %>
	</div>
	<nav>
		<div id="nav0">
			<div id="nav2">
				<%= link_to '','/home', :class => "icon-home", :title => "Home"%>				  
				<%= link_to '', '/logout', :class => "icon-exit", :title => "Logout" %>
			</div>
		</div>
		<div id="nav4">
	       <%= form_tag('/search', :id => 'search') do %>
	    	   <%= text_field_tag 'q' %>
		       <%= submit_tag 'Buscar', :id => "buscar" %>
	       <% end %>
		</div>
	</nav>
</header>