<!DOCTYPE HTML>
<%	navegadores = ['Firefox','Chrome','Mobile','MSIE'] 
	navegadores.each do |n| 
	    if request.env["HTTP_USER_AGENT"].include?(n) 
	       @navegador = n 
	    end 
  	end
  	 
if @navegador == 'MSIE' -%>
	<html>
	    <head>
	        <meta name="http-equiv" content="Content-type: text/html; charset=utf-8"/>
	        <title>No queremos Internet explorer en esta paguina</title>
	        <link rel="shortcut icon" href="/gfx/favicon.ico" type="image/x-icon" />
	        <META HTTP-EQUIV="REFRESH" CONTENT="30;URL=http://www.mozilla.org/es-ES/firefox/new/"/>
	    </head>
	    <body>
	        <center>
	            Tu navegador no es aceptado en nuestro sistema, por que lo consideramos defectuoso.
	            <br>
	            En breves segundos te redirigiremos por el buen camino.
	            <br>
	            Aunque Firefox es uno hay mas.
	            <br>
	            Descargate cualquier navegador que no sea Intenet Explorer y l&iacute;brate de los virus.
	            <h1>No Participaremos en la Corrupci&oacute;n de tu sistema operativo...</h1>
	            <i>Crearemos una cilivizacion del pensamiento en le ciberespacio.</i>
	            John Perry Barlow
	        </center>
	    </body>
	</html>
<% else -%>

<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="shortcut icon" href="/gfx/favicon.ico" type="image/x-icon" />
        <title>TOMALARED.NET :: <%= @page_name %></title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= stylesheet_link_tag    "post"  %>
        <%= stylesheet_link_tag    "users"  %>
        <%= stylesheet_link_tag    "tags"  %>
        <%= stylesheet_link_tag    "comment"  %>
        <%= stylesheet_link_tag    "user_sessions"  %>
        <%= stylesheet_link_tag    "jquery-ui-1.8.23.custom.css"  %>
        <%= javascript_include_tag "application" %>
        <%= javascript_include_tag :defaults %>
        <%= csrf_meta_tags %>
        <script>
            var h1 = document.createElement('h1');

            if (!('webkitTextStroke' in h1.style )) {

                var heading = document.getElementsByTagName('h1')[0];

                heading.style.color = 'black';
            }
        </script>
    </head>
    <body>

        <% if current_user -%>
            <%= render :partial => 'user_sessions/login' %>
        <% end -%>

        <div id="all">
        	<div id="main" align="center">
		        <div id="content">
		        	
		        	<%= yield %>
		
		        </div>
   			        <footer id="footer">
				        <% if current_user %>
				        Hola, <%= current_user[:name] %>.&nbsp;
				        <% end %>&iquest;Estas esperando la revolucion?
				        <br/>
				        Pues corre que ella te espera a ti...
				        <br/>
				        TOMALARED.NET &nbsp;v0.1 (alpha)
				        <br/>
				        Powered By: <a href="http://rubyonrails.org/">RubyOnRails v3.2.6</a> ~
				        <a href="http://ozimodo.rubyforge.org/">Ozimodo v1.2.1</a> ~
				        <a href="http://ushahidi.com/">Ushahidi v2.2</a>
			        </footer>
	        </div>
	
	        <div id="mainboard" align="center">
		        <% if current_user %>
	    		    <%= render :partial => 'users/board' %>
	            <% else %>
		            <% if flash[:notice] %>
	    		        <div id="notice">
	            	    	<%= flash[:notice] %>
	            		</div>
	            	<% end %>
	            <% end %>
	        </div>
	        
        </div>
        
    </body>
</html>
<% end -%>

